.App-header {
  text-align: center;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  vertical-align: center;
}

.App-intro {
  margin-top: 3em;
  text-align: center;
  font-size: large;
}


@media only screen and (min-width: 768px) {
  .App-title {
    font-size: 2.5em;
  }

  .App-header {
    height: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .App-title {
    font-size: 3.5em;
  }


  .App-header {
    height: 130px;
  }
}

@media only screen and (min-width: 1440px) {
  .App {
  }
  .App-header {
    height: 150px;
  }

  .App-title {
    font-size: 4em;
  }
}
